/*Created with Adobe RoboHelp 9.*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
	font-size: large;
}
p.DocTitle {
	margin-bottom: 1pt;
	margin-left: 1pt;
	text-align: right;
	padding-right=: "12pt:";
	font-weight: bold;
	margin-right: 1pt;
	margin-top: 1pt;
	font-size: x-large;
	color: #000000;
	font-family: Arial;
}
h1 {
	margin-right: 6pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-top-style: Solid;
	text-align: Left;
	font-size: 18pt;
	border-top-width: 2pt;
	background-color: #ffffff;
	color: #006644;
	margin-left: 0pt;
	margin-top: 10pt;
	x-next-class: ;
	x-next-type: P;
	margin-bottom: 10pt;
}
LI.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: Left;
	font-size: 18pt;
	color: #006644;
}
h2 {
	padding-left: 2pt;
	padding-bottom: 2pt;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-top-width: 1px;
	border-color: #CCCCCC;
	border-style: solid none none none;
	margin-right: 1pt;
	color: #006644;
	margin-left: 0pt;
	margin-bottom: 10pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: 10pt;
}
LI.h2 {
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006644;
}
h3 {
	margin-right: 1pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-top-style: Solid;
	border-top-width: 1px;
	color: #006644;
	margin-left: 0pt;
	margin-bottom: 10pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: 25pt;
}
LI.h3 {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006644;
}
h4 {
	margin-right: 1pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #006644;
	margin-left: 0pt;
	margin-bottom: 10pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: 10pt;
}
LI.h4 {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #006644;
}
h5 {
	margin-right: 1pt;
	margin-bottom: 1pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 0pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: 5pt;
}
LI.h5 {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
h6 {
	margin-right: 1pt;
	margin-bottom: 1pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 0pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: 5pt;
}
LI.h6 {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}
h7 {
	font-weight: normal;
	font-size: 10pt;
}
P {
	font-size: 10pt;
	font-family: Verdana;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
A.expandspot {
	cursor: hand;
	font-style: italic;
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
}
A.dropspot {
	cursor: hand;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #0000ff;
	font-family: Verdana;
	text-decoration: none underline underline;
}
A.glossterm {
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}
SPAN.glosstext {
	color: #000000;
	font-style: normal;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
}
A:active {
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
}
P.body {
	font-family: Verdana;
}
A:hover {
	background-color: Transparent;
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;
}
A:link {
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
}
A:visited {
	font-weight: normal;
	font-style: normal;
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
}
A.popupspot {
	color: #0000ff;
	font-family: Verdana;
	font-size: 10pt;
}
P.PublishedText {
	text-decoration: underline underline;
}
P.PTEntry {
	font-family: Arial, Helvetica, sans-serif;
}
DIV.droptext {
}
p.prodname {
	margin-right: 1pt;
	margin-bottom: 1pt;
	text-align: left;
	padding-right: 12pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1pt;
	font-size: x-large;
	margin-left: 1pt;
	color: #000000;
}
p.DocSubtitle {
	margin: 0in;
	margin-right: 1pt;
	margin-bottom: 2pt;
	padding-right: 12pt;
	text-align: right;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;
}
p.docdate {
	margin-top: 1pt;
	margin-right: 1pt;
	margin-bottom: 2pt;
	padding-right: 12pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: right;
	font-size: medium;
	background: #CC0000;
	font-weight: bold;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
p.copyright {
	margin-top: 1pt;
	margin-bottom: 2pt;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11pt;
}
p.fineprint {
	margin-top: 1pt;
	margin-left: 3pt;
	margin-bottom: .0001pt;
	margin-right: 3pt;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
p.toc1 {
	margin-top: 12pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	margin-left: .5in;
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
p.toc2 {
	margin-top: 1pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	margin-left: .75in;
	font-size: 6pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
p.toc3 {
	margin-top: 1pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	margin-left: 1in;
	font-size: 6pt;
	font-family: Arial, Helvetica, sans-serif;
}
p.toc4 {
	margin-top: 1pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	margin-left: 1.25in;
	font-size: 6pt;
	font-family: Arial, Helvetica, sans-serif;
}
p.imagepara {
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	padding-right: 0pt;
	margin-top: 4pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	margin-left: 1pt;
}
p.runleft {
	margin-top: 4pt;
	margin-right: 1pt;
	margin-bottom: 1pt;
	text-align: left;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;
	margin-left: 0pt;
}
p.runright {
	margin-top: 4pt;
	margin-right: 6pt;
	margin-bottom: 1pt;
	text-align: right;
	font-weight: bold;
	color: #000000;
	margin-left: 0pt;
	font-family: Verdana;
	font-size: 10pt;
}
p.navbar {
	margin-top: 1pt;
	margin-right: 3pt;
	margin-bottom: 3pt;
	margin-left: 1pt;
	text-align: right;
	font-size: small;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
dt {
	margin-top: 2pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: .25in;
	text-align: left;
	font-size: large;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
p.pagebreak {
	page-break-before: always;
}
P.footer {
	border-top-style: Solid;
	border-top-width: 4px;
	font-family: Verdana;
	font-size: 10pt;
}
P.Navigation {
	font-size: 8pt;
	color: #0000a0;
	text-align: Right;
}
ol ol {
	margin-top: 5px;
}
ol ul {
	margin-top: 5px;
}
ul ul {
	margin-top: 5px;
	margin-bottom: 0pt;
	margin-left: 0px;
}
ul ol {
	margin-top: 5px;
}
span.rls-1-Bullet1 {
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-3-Bullet1 {
	font-family: Verdana;
	font-size: 10pt;
}
rh-list.rl-P-Numbering {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-P-Numbering2 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: lower-alpha;
}
table.Table {
	font-family: Verdana;
	font-size: 10pt;
	x-border-spacing: 0px;
}
table.Table td {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
rh-list.rl-p-Numbering3 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: lower-roman;
}
rh-list.rl-P-Bullet1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: square;
}
rh-list.rl-P-Bullet2 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: circle;
}
span.rls-1-Bullet {
	font-family: Verdana;
	font-size: 10pt;
}
A.breadcrumbs {
	font-size: 11pt;
}
rh-list.rl-p-bullet1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: square;
}
rh-list.rl-p-Bullet2 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: circle;
}
rh-list.rl-p-bullet3 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: disc;
}
rh-list.rl-p-bullet1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: disc;
}
rh-list.rl-p-bullet2 {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: circle;
}
rh-list.rl-p-bullet3 {
	x-level-count: 1;
	x-lvl-1-format: "<x>";
	x-lvl-1-type: square;
}
rh-list.Bullets {
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-type: disc;
	x-lvl-1-format: "<x>";
	x-lvl-2-type: circle;
	x-lvl-2-format: "<x>";
	x-lvl-3-type: square;
	x-lvl-3-format: "<x>";
	x-lvl-4-type: "En Dash";
	x-lvl-4-format: "<x>";
	x-lvl-1-pfx-class: rls-1-Bullets;
	x-lvl-2-pfx-class: rls-2-Bullets;
	x-lvl-3-pfx-class: rls-3-Bullets;
	x-lvl-4-pfx-class: rls-4-Bullets;
	x-lvl-1-margin: 40px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-tag: P;
	x-lvl-2-margin: 60px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-tag: P;
	x-lvl-3-margin: 80px;
	x-lvl-3-text-indent: -20px;
	x-lvl-4-margin: 100px;
	x-lvl-4-text-indent: -20px;
	x-lvl-4-p-tag: P;
	x-lvl-5-type: small-square;
	x-level-count: 9;
	x-lvl-5-format: "<x>";
	x-lvl-5-margin: 120px;
	x-lvl-5-text-indent: -20px;
}
rh-list.rl-p-Numbering {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.Numbering {
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-4-type: decimal;
	x-lvl-4-format: "<x>&c";
	x-lvl-5-type: lower-alpha;
	x-lvl-5-format: "<x>&c";
	x-lvl-1-margin: 30px;
	x-lvl-1-text-indent: -30px;
	x-lvl-1-p-tag: P;
	x-lvl-2-margin: 60px;
	x-lvl-2-text-indent: -30px;
	x-lvl-2-p-tag: P;
	x-lvl-4-margin: 120px;
	x-lvl-4-text-indent: -30px;
	x-lvl-5-margin: 150px;
	x-lvl-5-text-indent: -30px;
	x-level-count: 9;
	x-lvl-3-type: lower-alpha;
	x-lvl-3-margin: 90px;
	x-lvl-3-text-indent: -30px;
}
li.Note {
	list-style: url(note.jpg);
	font-family: Verdana;
	margin-left: 15pt;
	margin-top: 10pt;
	font-size: 10pt;
	vertical-align: Super;
}
span.rls-1-Bullets {
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-2-Bullets {
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-3-Bullets {
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-4-Bullets {
	font-family: Verdana;
	font-size: 10pt;
}
rh-seq.4th_level {
}
table.AlternateCyanColorGrid {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #4F81BD;
}
table.AlternateCyanColorGrid td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateCyanColorGrid tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
}
table.AlternateCyanColorGrid tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #4F81BD;
	background-color: #D2EAF1;
}
table.TopRowLeftColumn {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	x-1st-col: 1;
	x-1st-col-name: t1st;
	x-border-spacing: 0px;
}
table.TopRowLeftColumn tr.t1Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRowLeftColumn tr.t2Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRowLeftColumn tr.t1st td {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #808080;
	text-align: Center;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRowLeftColumn td.t1st {
	text-align: Center;
	background-color: #808080;
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	font-weight: bold;
}
table.toprowleftcolumn tr.t1row td.t1st {
	text-align: Center;
	background-color: #808080;
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	font-weight: bold;
}
table.toprowleftcolumn tr.t2row td.t1st {
	text-align: Center;
	background-color: #808080;
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	font-weight: bold;
}
table.AlternateBlueWithHeader {
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #4F81BD;
	x-1st-row: 1;
	x-1st-row-name: t1st;
}
table.AlternateBlueWithHeader td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
table.AlternateBlueWithHeader tr.t1Row td {
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: 4f81bd;
}
table.AlternateBlueWithHeader tr.t2Row td {
	background-color: #D3DFEE;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: 4f81bd;
}
table.AlternateBlueWithHeader tr.t1st td {
	background-color: #4F81BD;
}
rh-list.ArticlesAndSections {
	x-lvl-1-format: "Article <x>.";
	x-lvl-1-type: upper-roman;
	x-lvl-1-p-tag: H1;
	x-lvl-2-format: "Section <x>.";
	x-lvl-2-type: decimal;
	x-lvl-2-margin: 20px;
	x-lvl-2-p-tag: H2;
	x-lvl-3-type: lower-alpha;
	x-lvl-3-format: "&o<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-3-p-tag: P;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-4-p-tag: P;
	x-lvl-5-type: decimal;
	x-lvl-5-format: "<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-5-p-tag: P;
	x-lvl-6-type: lower-alpha;
	x-lvl-6-format: "<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-6-p-tag: P;
	x-lvl-7-type: lower-roman;
	x-lvl-7-format: "<x>&c";
	x-lvl-7-margin: 120px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-8-p-tag: P;
	x-lvl-9-type: lower-roman;
	x-level-count: 9;
	x-lvl-9-margin: 160px;
	x-lvl-9-p-tag: P;
}
