<appSettings>
  <!-- From EmailSettings.config-->
  <add key="SmtpServer" value="roadrunner.hbg1.jenzabar.net" />
  <add key="SmtpDefaultMailAddress" value="pdtest@jenzabar.net" />
  <!-- From DirectorySettings.config -->
  <add key="LDAPConnectionString" value="LDAP://pdjics/" />
  <add key="RootNodeDN" value="O=Jenzabar,C=US" />
  <add key="RootDataImportDN" value="CN=Academics,CN=Portal,O=Jenzabar,C=US" />
  <add key="RootCampusGroupsDN" value="CN=Campus Groups,CN=Campus Life,CN=Portal,O=Jenzabar,C=US" />
  <add key="RootMyPagesDN" value="CN=My Pages,CN=Portal,O=Jenzabar,C=US" />
  <add key="RootPortalUsersDN" value="OU=PortalUsers,CN=Portal,O=Jenzabar,C=US" />
  <add key="GuestAccountName" value="guest" />
  <add key="GuestAccountPassword" value="password" />
  <add key="SystemAccountName" value="HighPrivs" />
  <add key="SystemAccountPassword" value="AiIBqoalg" />
  <add key="RootContextNodeName" value="Portal" />
  <!-- From DatabaseSettings.config-->
  <add key="DBConnectionString" value="User Id=ICSNetUser;password=DCyhDeuA;Initial Catalog=ICS_NET;Data Source=sqldevtest01\devtest_inst_01" />
  <add key="LoggingConnectionString" value="User Id=ICSNetUser;password=DCyhDeuA;Initial Catalog=ICS_NET_STAT;Data Source=sqldevtest01\devtest_inst_01;Asynchronous Processing=true" />
  <!-- From SecuritySettings.config-->
  <add key="UseExternalAuthentication" value="false" />
  <add key="ExternalAuthenticationPassword" value="" />
  <add key="LoginContext" value="test" />
  <add key="AllowPasswordChanges" value="true" />
  <add key="MaxPasswordLength" value="10" />
  <add key="MinPasswordLength" value="4" />
  <add key="PasswordValidationExpression" value="" />
  <!-- From ERPSettings.config-->
  <add key="ConnectionProfile" value="" />
  <add key="LinksUrl" value="" />
  <!-- TODO: Let's be more specific on what type means-->
  <add key="ERPType" value="" />
  <add key="EXDBServerName" value="" />
  <add key="EXDBName" value="" />
  <add key="EXDBUserName" value="" />
  <add key="EXDBPassword" value="" />
  <add key="EXDBAdditionalInfo" value="persist security info=False;packet size=4096" />
  <add key="EXDBType" value="" />
  <add key="EXUseIncludeFiles" value="N" />
  <!-- Begin settings for ERP Web Service -->
  <!-- Enter the URL for the host of ERP Web Service in the format of "http://hostname:port number" -->
  <add key="ERPWebServiceURL" value="" />
  <!-- Turn on/off preauthentication on the web server. -->
  <add key="ERPWebServiceAuth" value="false" />
  <add key="ERPWebServiceAuthUser" value="invalid" />
  <add key="ERPWebServiceAuthPassword" value="invalid" />
  <!-- Turn on/off XML output to a file specified by ERPWebServiceDebugXMLOutputPath -->
  <add key="ERPWebServiceDebugXML" value="false" />
  <add key="ERPWebServiceDebugXMLOutputPath" value="c:/temp/webservicelog.txt" />
  <add key="ERPWebServiceDebugInputXML" value="false" />
  <add key="ERPWebServiceDebugXMLInputPath" value="c:/temp/webservicelog.txt" />
  <!-- End settings for ERP Web Service -->
  <!-- Begin settings for TE Web Service -->
  <!-- Enter the DB Connection string -->
  <add key="TEDBConnection" value="" />
  <!-- End settings for TE Web Service -->
  <!-- Begin settings for Plugin Tracing -->
  <!-- PluginTrace settings moved to a separate file which -->
  <!-- can be created/used at runtime without an iisreset. -->
  <add key="PluginTraceConfigFile" value="C:/temp/PluginTrace.config" />
  <!-- End settings for Plugin Tracing -->
  <add key="AuthorizeNetURL" value="https://secure.authorize.net/gateway/transact.dll?" />
  <!-- From ValidationSettings.config-->
  <add key="EmailRegularExpression" value="^([\w\.!#\$%\-+.']+@[A-Za-z0-9\-]+(\.[A-Za-z0-9\-]+)+)" />
  <add key="UrlRegularExpression" value="^((([Hh][Tt]|[Ff])[Tt][Pp]([Ss]?))\://)\S+" />
  <!-- 'addCourseSectionBehavior' controls how course sections are created on import.  Valid values are:
	  
	  A) 'mostRecentForSameFac' - Copies the most recent section that was taught by the same faculty memeber.
	  B) 'mostRecent' - Copies the most recent course section regardless of who taught it.
	  C) 'sameFaculty' - Copies the most recent section that was taught by the same faculty memeber.
	  D) 'xmlTemplate' - Uses the XML template file to construct the imported course section.
		
	  D is the default.  
	  If nothing is found for A, B is used.  If no course is found for B, it defaults to D. 
	  
	  When option C is specified, if previous sections exist for the same course, but none are taught by the same faculty member,
	  it will default to option D rather than copying the most recent course section.
      -->
  <add key="AddCourseSectionBehavior" value="xmlTemplate" />
  <!-- From LocationSettings.config -->
  <add key="ICSFileServerPath" value="C:\Program Files\Jenzabar\ICS.NET" />
  <add key="DataImportServiceBasePath" value="C:\Program Files\Jenzabar\ICS.NET\DIS" />
  <add key="PortalPageUrl" value="~/default.aspx" />
  <add key="CommonImagesPath" value="~/ui/common/images/" />
  <add key="PortletTitleBarImagesPath" value="~/ui/common/images/PortletImages/TitleBar/" />
  <add key="PortletIconImagesPath" value="~/ui/common/images/PortletImages/Icons/" />
  <add key="PortletFooterImagesPath" value="~/ui/common/images/PortletImages/Footer/" />
  <add key="ControlImagesPath" value="~/ui/common/images/ControlImages/" />
  <add key="ReportingToolUrl" value="/Reports" />
  <!-- From GlobalizationSettings.config-->
  <add key="GlobalizationType" value="Database" />
  <add key="GlobalizationConnectionString" value="User Id=ICSNetUser;password=DCyhDeuA;Initial Catalog=ICS_NET;Data Source=sqldevtest01\devtest_inst_01" />
  <add key="Reload" value="24" />
  <add key="DefaultLanguageCode" value="En" />
</appSettings>