<?xml version="1.0" encoding="utf-8" ?>
<!-- Refer to https://github.com/nlog/NLog/wiki for documentation about NLog. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

	***********************************************************
	From Jenzabar: Do not create a target with name="file". To 
	set the fileName attribute, go to the EX window named XXXXX.
	***********************************************************
    <!-- Refer to https://github.com/nlog/NLog/wiki/File-target for documentation on setting up File target. -->
	<targets async="true"> 
        <target name="file" xsi:type="File" fileName="C:/ProgramData/Jenzabar/EX/WAS/Logs/${shortdate}-web-log.txt" 
				 archiveFileName="C:/ProgramData/Jenzabar/EX/WAS/Logs/${shortdate}-web-log.{#}.txt"  
				 archiveEvery="Day" archiveNumbering="Rolling"  concurrentWrites="true" keepFileOpen="false"  maxArchiveFiles="50"/>
				 <!--archiveAboveSize="10240"-->
		
		<!-- Developers can use this target to log to Visual Studio Output Window -->	
	    <!-- Refer to https://github.com/nlog/NLog/wiki/Debugger-target for documentation on Debugger Target. -->
		<!--<target name="debugger" xsi:type="Debugger" />-->
    </targets>

	***********************************************************
	From Jenzabar: Do not create a logger rule with 
	writeTo="file".  To change the minLevel attribute, go to
	the EX window named XXXXX.
	***********************************************************
    <rules>
        <logger name="*" writeTo="file" minlevel="ERROR">
			<!-- Refer to https://github.com/nlog/NLog/wiki/Conditions for documentation on Filters. -->
			<filters>
				<!-- Refer to https://github.com/nlog/nlog/wiki/When-filter for documentation on When clause. -->
				<!-- Below line will only log HostId=2 actions -->
				<!--<when condition="not contains('${message}','HostId=2')" action="Ignore" />				-->
			</filters>
		</logger>
		
		<!-- Logger rule to go with Developers' access to logging to Visual Studio Output Window -->
		<!--<logger name="*" writeTo="debugger" />-->
    </rules>
</nlog>
