<PluginTraceSettings>
	<!-- PluginTrace must be set to "on" for any tracing to occur. -->
	<PluginTrace>off</PluginTrace>
	<!-- PluginTracePerformance must be set to on for page/portlet/context load tracing to occur-->
	<PluginTracePerformance>off</PluginTracePerformance>
	<!-- Specify which file to write tracing to.  Make sure everyone has write access. -->
	<PluginTraceFile>C:\ICSFileServer\PluginTrace.txt</PluginTraceFile>
	<!-- The following elements control how much tracing occurs.  When empty, everything is traced. -->
	<!-- Comma-separated list of interfaces to trace.  e.g. ICourse,IStudent -->
	<PluginTraceInterfaces></PluginTraceInterfaces>
	<!-- Comma-separated list of methods to trace.  e.g. GetDivisions -->
	<PluginTraceMethods></PluginTraceMethods>
	<!-- Comma-separated list of Host IDs to trace.  Remember, the ID must be exact and does not -->
	<!-- ignore leading zeroes for numeric IDs.  e.g. 00005101363 for CX -->
	<PluginTraceHostIDs></PluginTraceHostIDs>
	<!-- End settings for Plugin Tracing -->
</PluginTraceSettings>
