<?xml version="1.0" encoding="utf-8" ?>
<PXSettings>
	<CurrentProfile></CurrentProfile>
	<ConnectionProfile>
		<ProfileName>Default</ProfileName>
		<Debug>false</Debug>
		<Cache>
			<CacheSetting>0</CacheSetting>
			<CacheFolder>C:\PXCRMCache</CacheFolder>
		</Cache>
		<Servlet>
			<ServletName>Common</ServletName>
			<Node>vmsserver</Node>
			<UserName>cmn_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version></Version>
		</Servlet>
		<Servlet>
			<ServletName>Candidate</ServletName>
			<Node>vmsserver</Node>
			<UserName>can_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version>10</Version>
		</Servlet>
		<Servlet>
			<ServletName>Constituent</ServletName>
			<Node>vmsserver</Node>
			<UserName>cns_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version></Version>
		</Servlet>
		<Servlet>
			<ServletName>Staff</ServletName>
			<Node>vmsserver</Node>
			<UserName>stf_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version>15</Version>
		</Servlet>
		<Servlet>
			<ServletName>WebLinks</ServletName>
			<Node>vmsserver</Node>
			<UserName>cmn_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version></Version>
		</Servlet>
		<Servlet>
			<ServletName>AdmissionsOfficer</ServletName>
			<Node>vmsserver</Node>
			<UserName>amo_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version></Version>
		</Servlet>
		<Servlet>
			<ServletName>AdvancementOfficer</ServletName>
			<Node>vmsserver</Node>
			<UserName>ada_server</UserName>
			<PassWord>secretpwd</PassWord>
			<Version></Version>
		</Servlet>
		<Portlet>
			<PortletName>PXFacultyPortlet</PortletName>
			<Item>
				<ItemName>UserRole</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>FAC</ItemDefault>
			</Item>
			<Item>
				<ItemName>Debug</ItemName>
				<ItemValue>false</ItemValue>
				<ItemDefault>false</ItemDefault>
			</Item>
		</Portlet>
		<Portlet>
			<PortletName>PXAdvisorPortlet</PortletName>
			<Item>
				<ItemName>linkURL</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>http://localhost/</ItemDefault>
			</Item>
			<Item>
				<ItemName>CgiLocation</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>cc3_scripts/fcs/</ItemDefault>
			</Item>
			<Item>
				<ItemName>UserRole</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>ADV</ItemDefault>
			</Item>
			<Item>
				<ItemName>UserProxyRole</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>PRX</ItemDefault>
			</Item>
			<Item>
				<ItemName>Debug</ItemName>
				<ItemValue>false</ItemValue>
				<ItemDefault>false</ItemDefault>
			</Item>
		</Portlet>
		<Portlet>
			<PortletName>PXStudentPortlet</PortletName>
			<Item>
				<ItemName>linkURL</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>http://localhost/</ItemDefault>
			</Item>
			<Item>
				<ItemName>CgiLocation</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>cc3_scripts/fcs/</ItemDefault>
			</Item>
			<Item>
				<ItemName>UserRole</ItemName>
				<ItemValue></ItemValue>
				<ItemDefault>STU</ItemDefault>
			</Item>
			<Item>
				<ItemName>Debug</ItemName>
				<ItemValue>false</ItemValue>
				<ItemDefault>false</ItemDefault>
			</Item>
		</Portlet>
	</ConnectionProfile>
</PXSettings>