<?xml version="1.0" encoding="utf-8" ?>
<!-- This file can be used to override settings in the db for only this webserver.  The Key column is used as well as the desired value. Example below. -->
<appSettings>
  <!--<add key="LanguageCode" value="En" /> This entry could be used to switch the language of one web server --> 
</appSettings>