
/*Default*/
.PositionSearch .PSLightText { color: #707070; }
.PositionSearch .PSBoldText { font-weight: bold; }
.PositionSearch .PSBackgroundGray { background-color: #EFEFEF; }
.PositionSearch .PSBorderAllGray { border: 1px solid #D4D4D4; }
/* END Default */

/*Search Form & New Position Panel*/
.PositionSearch .PSSearch { width: 450px; float: left; }
.PositionSearch .PSNew { margin-left: 450px; margin-right: 20px; max-width: 400px; }
/* END Default */

/*GridView*/
.PositionSearch .PositionSearchGridView { width:100%; border: 1px solid #D4D4D4; border-collapse: collapse; }  
.PositionSearch .PositionSearchGridView th { font-size:11px;  padding: 3px 7px 2px 7px; border: 1px solid #D4D4D4; background-color:#EFEFEF; color:#7C7C7C; }
.PositionSearch .PositionSearchGridView td { font-size:12px;  padding: 3px 7px 2px 7px; border: 1px solid #D4D4D4; }
.PositionSearch .PositionSearchGridViewAlt td {background-color: #EFEFEF; }
/*END GridView*/
