.CourseEvaluationReports .cerTableHeader
{
	background-color: #ccccff;
}

.CourseEvaluationReports .cerTableFooter
{
	background-color: #ccccff;
}

.CourseEvaluationReports .cerTableAltRow
{
	background-color: #efefef;
}
