
<span class="description">{{globalizer.messageEditDescription}}</span>
<div id="chatAvailabilityMessageEditorContainer" class="chatAvailabilityMessageEditorContainer">
    <div>
        <label for="chatAvailabilityMessageEditorTextArea" class="label">{{globalizer.availabilityMessageTexAreaDescription}}</label>
        <textarea id="chatAvailabilityMessageEditorTextArea"></textarea>
        <label for="updateAvailabilityMessage" class="label">{{globalizer.availabilityMessageButtonDescription}}</label>
        <input type="button" id="updateAvailabilityMessage" class="btn btn-update-availability-message" value="{{globalizer.save}}" />
    </div>
</div>
