.CommunicationInfoLoginProviderPortlet .continueButton {
    margin-top: 20px;
    margin-left: 20px;
}

.CommunicationInfoLoginProviderPortlet .continue-button-container {
    padding-bottom: 25px;
}