.CS {}
.CS .RedText { color: #ad0000 }
.CS .GreenText { color: #008700; }
.CS .GrayBordered { background-color: #EFEFEF; border: 1px solid #B2B2B2; padding: 10px;   }
.CS .WhiteBordered { border: 1px solid #B2B2B2; padding: 10px }
.CS .RedErrorText { color: #AD0000; }
.CS .TableBorder { border: 1px solid #B2B2B2;  }
.CS .Bullet { list-style-type: disc;}
.CS .BorderLeftBottom { border-left:1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2 }
.CS .BorderTopLeftBottomRight { border-left:1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2; border-top:1px solid #B2B2B2; border-right: 1px solid #B2B2B2 }
.CS .BorderLeftRightBottom { border-left:1px solid #B2B2B2; border-right:1px solid #B2B2B2; border-bottom:1px solid #B2B2B2 }
.CS .BorderTopLeftRight { border-left:1px solid #B2B2B2; border-top:1px solid #B2B2B2; border-right: 1px solid #B2B2B2 }
.CS .BorderBottom { border-bottom: 1px solid #B2B2B2 }
.CS .BorderRightBottom { border-right:1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2 }
.CS .BorderRight { border-right:1px solid #B2B2B2; }
.CS .BorderLeft{ border-right:1px solid #B2B2B2; }


.CS .text-warning {
    color: #ef8825;
}

.CS .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.CS .CourseSchedulesSection {
    margin-bottom: 1em;
}

.CS .btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.CS .btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.CS .btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: ButtonFace;
  border-color: ButtonFace;
  color: GrayText;
}

.CS .FloatLeft 
{      
    float: left;
}

.CS .FloatRight
{      
    float: right;
}


.CS .clearfix {
  clear: both;
}

 
.CS .BlueGrayBorder
{
	background-color: #EFEFEF;
	border: 1px solid #3A6AB7;
}

.CS .SetupTable
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #d8d9d8;
	border-right-color: #d8d9d8;
	border-bottom-color: #d8d9d8;
	border-left-color: #d8d9d8;
}