<div class="roleOptions">
    <span class="rename-title">{{txT_ROLE_MANAGER_RENAME_TITLE}}</span>
    <input class="rename-textBox" type="text" value="{{txtRoleName}}">
    <span class="info-title">{{txT_ROLE_MANAGER_INFO_TITLE}}<span class="roleName">{{txtRoleName}}</span></span>
    <p class="info-description">{{txT_ROLE_MANAGER_INFO_DESCRIPTION}}</p>
    <div class="users">
        <span class="title">{{txT_ROLE_MANAGER_ADD_TITLE}}</span>   
        <span class="addPeople-link"><a>{{txT_ROLE_MANAGER_ADD_PEOPLE_LINK}}<span class="roleName">{{txtRoleName}}</span></a></span>            
    </div>
    <div class="roles">
        <span class="title">{{txT_ROLE_MANAGER_ADD_OTHER_TITLE}}</span>
        <a class="addOthersRoles-link">{{txT_ROLE_MANAGER_ADD_OTHERS_LINK}}<span class="roleName">{{txtRoleName}}</span></a>
    </div>
    
</div>
<div class="saveContainer">
    <a class="save">Save</a>
    <a class="cancel">Cancel</a>
</div>
