.jcf-form-display button, 
.jcf-form-display input[type=submit],
.jcf-login-form input[type=submit],
.jcf-create-login input[type=submit],
.jcf-fileupload-btn {
    min-width: 100px;
    background: #dddddd;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #333333;
}
.jcf-form-display .jcf-button-placeholder {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color:rgb(221, 221, 221);
    background-origin:padding-box;
    background-size:auto;
    box-sizing:border-box;
    color:rgb(51, 51, 51);
    cursor:default;
    display:inline-block;
    font-family:Verdana, Arial, sans-serif;
    font-size:14.08px;
    height:27.6px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    min-width:100px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    text-align:center;
}
.jcf-form-display select, 
.jcf-form-display input[type=text],
.jcf-login-form input[type=email], 
.jcf-login-form input[type=password],
.jcf-create-login input[type=email],
.jcf-create-login input[type=password],
.jcf-create-login input[type=text] {
    border: thin solid #cccccc;
    box-sizing: border-box!important;
    height: 25px;
    padding: 2px;
}

.jcf-form-display textarea {
    border: thin solid #cccccc;
    box-sizing: border-box!important;
    padding: 2px;
}
.jcf-login-container {
    margin: 0px auto;
}
.jcf-login-container > div {
    border: none!important;
}
.jcf-login-container label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.jcf-login-container .form-group,
.jcf-create-login, .form-group{
    margin-top: 10px;
}
.jcf-instructions-panel {
    min-height: 30px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background: #eeeeee;
}
.jcf-instructions-panel p {
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.jcf-login-form input {
    width: 100%;
    margin: 0px auto;
}
.jcf-login-form input[type=submit],
.jcf-create-login input[type=submit] {
    margin-bottom: 10px;
    color: #ffffff;
    background-color: green;
}
.jcf-login-form .form-group:last-child,
.jcf-create-login .form-group:last-child {
    text-align: center;
}
.jcf-create-login .form-group:last-child a,
.jcf-login-form .form-group:last-child a {
    text-decoration: none;
}
.jcf-tabs {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-sizing: border-box;
}
.jcf-breadcrumbs {
    padding: 5px 5px 5px 5px;
}
.jcf-tabs .ui-tabs-nav {
    padding: 0px 0px 0px 0px!important;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.jcf-tabs .ui-tabs-nav li {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.jcf-tabs .ui-tabs-nav li a {
    height: 100%;
    width: 100%!important;
    display: block;
    box-sizing: border-box;
}
.jcf-vertical-tabs .ui-tabs-nav {
}
.jcf-vertical-tabs .ui-tabs-nav li.ui-state-default {
    box-sizing:border-box;
    display:block;
    flex-basis:0%;
    flex-grow:1;
    flex-shrink:1;
    font-family:Raleway, Arial, sans-serif;
    font-weight:300;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    position:relative;
    text-align:center;
    border-bottom-width: 1px;
}
.jcf-vertical-tabs .ui-tabs-nav li:first-child {
    border-top-width: 1px;
}
.jcf-vertical-tabs .ui-tabs-nav li.ui-state-active {
    background: none;
    border-bottom: 5px solid #7DA5C8;
    box-sizing:border-box;
    display:block;
    flex-basis:0%;
    flex-grow:1;
    flex-shrink:1;
    font-family:Raleway, Arial, sans-serif;
    font-weight:300;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:1px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    position:relative;
    text-align:center;
}
.jcf-tabs .ui-tabs-nav li a {
    outline: none;    
}

.jcf-horizontal-tabs .ui-tabs-nav {
    margin: -3px -3px 0px -3px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #dddddd;
}
.jcf-horizontal-tabs .ui-tabs-nav li {
    height: 100%;
    box-sizing: border-box;
    border-left: none;
    border-bottom: none;
}
.jcf-horizontal-tabs .ui-tabs-nav li a {
    text-align: center;
    width: 100%;
}
.jcf-horizontal-tabs .ui-tabs-nav li.ui-state-default {
    box-sizing:border-box;
    display:block;
    flex-basis:0%;
    flex-grow:1;
    flex-shrink:1;
    font-family:Raleway, Arial, sans-serif;
    font-weight:300;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    position:relative;
    text-align:center;
    border-bottom-width: 1px;
    min-width: 125px;
}
.jcf-horizontal-tabs .ui-tabs-nav li:first-child {
    border-top-width: 1px;
}
.jcf-horizontal-tabs .ui-tabs-nav li.ui-state-active {
    background: none;
    border-top: 5px solid #7DA5C8;
    box-sizing:border-box;
    display:block;
    flex-basis:0%;
    flex-grow:1;
    flex-shrink:1;
    font-family:Raleway, Arial, sans-serif;
    font-weight:300;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:1px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    position:relative;
    text-align:center;
}
.jcf-progress-check {
    float: left;
}
.jcf-grid-buttons {
    text-align: right!important;
}
.pt_JenzContainedForm .jcf-col[itemtype=CollectionGrid] .jcf-element thead tr:first-child td {
    font-weight: normal!important;
}
.pt_JenzContainedForm .jcf-col[itemtype=CollectionGrid] .jcf-element tbody tr:nth-child(even) {
    background-color: #efefef!important;
}
.pt_JenzContainedForm .jcf-col[itemtype=CollectionGrid] .jcf-element tr td:first-child {
    border-width: 0px 0px 0px 0px!important;
}
.pt_JenzContainedForm .jcf-col[itemtype=CollectionGrid] .jcf-element tr td {
    border-width: 0px 0px 0px 0px!important;
}
.jcf-fileupload-message {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.jcf-fileupload {
    display: none;
}
.jcf-fileupload-iframe {
    width:550px;
    height:45px;
    border:0px solid #fff;
}