<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="Print" />
		<item type="image" name="Find" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="SelectAll" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>
		<item type="g_start" />

		<item type="dropdown" name="FontName" text="[[FontName]]" width="80"  command="FontName" />
		<item type="dropdown" name="FontSize" text="[[FontSize]]" command="FontSize" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="netspell" imagename="spell" />
		<item type="separator" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="forecolor" />
		<item type="backcolor" />
		<item type="image" name="RemoveFormat" imagename="unformat" />
		<item type="separator" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="JustifyFull" />
		<item type="separator" />
		<item type="image" name="InsertOrderedList" imagename="numlist" />
		<item type="image" name="InsertUnorderedList" imagename="bullist" />
		<item type="image" name="InsertHorizontalRule" imagename="rule" />
		<item type="image" name="InsertLink" imagename="link" />
		<item type="image" name="Unlink" />
		<item type="image" name="InsertChars" imagename="specialchar" />
		<item type="image" name="InsertEmotion" imagename="emotion" />
		<item type="g_end" />	

		<item type="g_start" />
		<item type="image" name="PasteWord" />
		<item type="g_end" />   
   
	</toolbars>
</configuration>